@model List<Movie>
@{
    ViewData["Title"] = "ViewMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <h1>ViewMovies</h1>
        <div class="grid-container">
            <a class="btn btn-info grid-item" disabled>View Movies</a>
            <a class="btn btn-info grid-item">Add Movie</a>
            <a class="btn btn-info grid-item">Edit Movie</a>
            <a class="btn btn-info grid-item">Delete Movie</a>
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {

            <div class="text-lg-center text-capitalize">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="active">Name</th>
                            <th class="alert-dark">Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="accordion">@item.Name</td>
                                <td class="alert-dismissible">@item.Genre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h1 class="text-center display-4">There No Movies to View</h1>
        }
    </div>


